.fireworks-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}

.firework {
  position: absolute;
  transform: translate(-50%, -50%);
}

.particle {
  position: absolute;
  width: 3px;
  height: 3px;
  background: var(--color);
  border-radius: 50%;
  box-shadow: 
    0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 40px var(--color);
  animation: explode 2.5s ease-out forwards;
  animation-delay: var(--delay);
  left: 0;
  top: 0;
}

@keyframes explode {
  0% {
    transform: translate(0, 0) scale(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(
      calc(cos(var(--angle)) * var(--firework-size)),
      calc(sin(var(--angle)) * var(--firework-size) + 50px)
    ) scale(0);
    opacity: 0;
    filter: blur(2px);
  }
}